* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $body-font;
   font-size: $text;
}
html {
   font-size: 100%;
}

// * Elements
h1, h2, h3, h4, h5, h6 {
   font-family: $title-font;
}
a {
   text-decoration: none;
   color: $text-color;
   transition: .3s;
   cursor: pointer;
}
button {
   background: none;
   border: none;
}
br {
   @media (max-width: $md) {
      display: none;
   }
}

.dv-skroll.home {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;

   section {
      display: flex;
   }

   @media screen and (max-width: $desktop) {
      position: absolute;
      flex-direction: column;
      transform: none !important;
   }
}
