* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: $body-font;
   font-size: $text;
   color: $text-color;
}
html {
   font-size: 100%;
}
#projects,
#project,
#contact,
#about-me {
   background-color: $bg-color;
}

// * Elements
h1, h2, h3, h4, h5, h6 {
   font-family: $title-font;
}
a {
   text-decoration: none;
   color: $text-color;
   transition: .3s;
   cursor: pointer;
}
ul {
   padding: 0;
}
li {
   list-style: none;
}
button {
   background: none;
   border: none;
}
input,
textarea {
   background-color: transparent;
   
   &:focus {
      border-bottom: 1.5px solid #000000;
      outline: none;
   }
}
figure {
   margin-bottom: 1px;
}
.dj-container {
   width: 100%;
   max-width: 1440px;
   margin: 0 auto;
   padding: 0 50px;
   
   @media (max-width: $xl) {
      padding: 0 40px;
   }
   @media (max-width: $lg) {
      padding: 0 26px;
   }
   @media (max-width: $md) {
      padding: 0 24px;
   }
   @media (max-width: $sm) {
      padding: 0 16px;
   }
}

.venturest {color: $venturest !important; }
.bg-venturest {background-color: $bg-venturest !important; }

.aprisoft { color: $aprisoft !important; }
.bg-aprisoft { background-color: $bg-aprisoft !important; }

.puliglobal { color: $puliglobal !important; }
.bg-puliglobal { background-color: $bg-puliglobal !important; }

.dama-selek { color: $dama-selek !important; }
.bg-dama-selek { background-color: $bg-dama-selek !important; }

.mjt { color: $mjt !important; }
.bg-mjt { background-color: $bg-mjt !important; }

.diaz { color: $diaz !important; }
.bg-diaz { background-color: $bg-diaz !important; }

.travel { color: $travel !important; }
.bg-travel { background-color: $bg-travel !important; }

.blog { color: $blog !important; }
.bg-blog { background-color: $bg-blog !important; }

.minimal { color: $minimal !important; }
.bg-minimal { background-color: $bg-minimal !important; }

.dv-skroll.home {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;

   section {
      display: flex;
   }

   @media screen and (max-width: $desktop) {
      position: absolute;
      flex-direction: column;
      transform: none !important;
   }
}
