/* --------------------------------------------------------------
* Preloader
-------------------------------------------------------------- */
#dj-preloader {
   position: fixed;
   inset: 0;
   z-index: 9999;
   overflow: hidden;
   background: $white;
   transition: all 0.6s ease-out;
   width: 100%;
   height: 100vh;

   &:after,
   &:before {
      content: "";
      position: absolute;
      border: 4px solid $brand;
      border-radius: 50%;
      animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
   }

   &:after {
      animation-delay: -0.5s;
   }
}

@keyframes animate-preloader {
   0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
   }
 
   100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
   }
}

/* --------------------------------------------------------------
* Transition page
-------------------------------------------------------------- */
.load-container {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100vh;
   overflow: hidden;
   z-index: 10;
   pointer-events: none;

   .loading-screen {
      position: relative;
      padding-left: 0;
      padding-right: 0;
      padding-top: 0;
      background-color: $brand;
      width: 0%;
      height: 100%;
   }
}

/* --------------------------------------------------------------
* Icon
-------------------------------------------------------------- */
.dj-icon {
   a, span {
      font-family: $logo-font;
      font-weight: 900;
      font-size: 96px;
   }
}

/* --------------------------------------------------------------
* Button
-------------------------------------------------------------- */
.dj-btn {
   font-family: $title;
   text-decoration: underline !important;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;

   &:hover {
      color: $brand-hover;
   }

   @media screen and (max-width: 768px) {
      font-size: $h3-resp;
   }
}

/* --------------------------------------------------------------
* JS
-------------------------------------------------------------- */
.start-scrolled {
   height: 100% !important;
   width: 100% !important;
   border-radius: 0 !important;
}
.intro-scrolled {
   border-radius: 0 !important;
}