/* --------------------------------------------------------------
* Preloader
-------------------------------------------------------------- */
#dj-preloader {
   position: fixed;
   inset: 0;
   z-index: 9999;
   overflow: hidden;
   background: $white;
   transition: all 0.6s ease-out;
   width: 100%;
   height: 100vh;

   &:after,
   &:before {
      content: "";
      position: absolute;
      border: 4px solid $brand;
      border-radius: 50%;
      animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
   }

   &:after {
      animation-delay: -0.5s;
   }
}

@keyframes animate-preloader {
   0% {
      width: 10px;
      height: 10px;
      top: calc(50% - 5px);
      left: calc(50% - 5px);
      opacity: 1;
   }
 
   100% {
      width: 72px;
      height: 72px;
      top: calc(50% - 36px);
      left: calc(50% - 36px);
      opacity: 0;
   }
}


/* --------------------------------------------------------------
* Icon
-------------------------------------------------------------- */
.dj-icon {
   a {
      font-family: $logo-font;
      font-weight: 900;
      font-size: 96px;
      letter-spacing: -10px;

      span {
         font-weight: 400;
         font-size: 96px;
      }
   }
}

/* --------------------------------------------------------------
* Page Headers
-------------------------------------------------------------- */
.dj-header-page {
   margin-bottom: 150px;

   span {
      display: block;
   }
   h1 {
      font-size: $title;
      font-weight: 600;
      margin-bottom: 50px;

      span {
         font-family: $title-font;
         font-size: $title;
      }
   }
   
   p {
      font-size: $big-text;
   }

   @media (max-width: 414px) {
      h1 {
         font-size: 47px;
      }
   }
}
.dj-header {
   text-align: center;
   margin-bottom: 100px;

   h1 {
      font-size: clamp(42px, -6px + 9vw, 180px);
      font-weight: 700;
      text-transform: capitalize;
      margin-bottom: 50px;

      span {
         font-size: clamp(42px, -6px + 9vw, 180px);
      }
   }

   h3 {
      font-size: clamp($small, -18px + 3.5vw, $text);
      font-weight: 400;
   }

   &-web {
      display: flex;
      align-items: center;
      justify-content: center;

      i {
         font-size: 32px;
         margin-right: 10px;
      }

      a {
         position: relative;
         display: inline-block;
         padding: 0 0 5px 0;
         color: $text-color;
         font-size: $h3;
         font-weight: 600;
         line-height: 20px;
         letter-spacing: .00464286em;

         @include underline_1;
      }
   }
}
.dj-heading {
   margin-bottom: clamp(60px, 3vw, 120px);

   h2 {
      font-size: clamp($small, -18px + 3.5vw, $text);
      font-weight: 400;
   }
   h3 {
      font-size: clamp(26px, 16px + 2.1vw, 56px);
      font-weight: 600;
      line-height: 120%;
   }
}
.dj-heading-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 71px;
   margin-bottom: 48px;
   background: $white;
   background-image: $dots;
   background-position: bottom;
   background-size: 8px 1px;
   background-repeat: repeat-x;

   &-left {
      display: flex;
      align-items: center;
      gap: 8px;
      height: 100%;

      @media (max-width: $desktop) {
         width: 100%;
         justify-content: space-between;
      }
   }

   &-title {
      min-width: 150px;
      font-size: $text;
      font-weight: 500;
      margin-bottom: 0;

      @media (max-width: $sm) {
         font-size: 16px;
      }
   }

   /* --------------------------------------------------------------
   * Page menú
   -------------------------------------------------------------- */
   .dj-menu-tabs {
      display: flex;
      align-items: center;
      gap: clamp(8px,5vw,32px);
      height: 100%;
      margin: 0;

      li {
         position: relative;
         display: flex;
         align-items: center;
         height: 100%;
         cursor: pointer;
         color: $text-link;
         white-space: nowrap;
         transition: .3s;

         &:hover {
            color: $text-color;
         }

         &.active {
            color: $text-color;
            font-weight: 500;

            &::before {
               content: "";
               position: absolute;
               bottom: 0;
               left: 0;
               width: 100%;
               border-bottom: 2px solid $text-color;
            }
         }

         @media (max-width: $sm) {
            font-size: 16px;
         }
      }
   }
}
.sticky {
   position: sticky;
   top: 0;
   z-index: 1;
}

.dj-title {
   font-size: clamp(36px, -6px + 9vw, 48px);
   font-weight: 600;
}
/* --------------------------------------------------------------
* Button
-------------------------------------------------------------- */
.dj-btn {
   font-weight: 500;
   text-decoration: underline !important;
   transition: all .2s ease-in-out;

   &:hover {
      color: $brand-hover;
   }

   @media screen and (max-width: $desktop) {
      font-size: $h3;
   }
}
.dj-button {
   grid-column-gap: 12px;
   grid-row-gap: 8px;
   border: 1px solid $text-color;
   background-color: $text-color;
   color: $white;
   letter-spacing: .32px;
   white-space: nowrap;
   cursor: pointer;
   border-radius: 100px;
   justify-content: center;
   align-items: center;
   padding: 16px 20px;
   font-size: 22px;
   font-weight: 500;
   text-decoration: none;
   display: flex;
   transition: .3s;

   .icon {
      justify-content: center;
      align-items: center;
      display: flex;

      i {
         color: $white;
         font-size: 28px;
         margin-top: 3px;
      }
   }

   &:hover {
      background-color: $brand;
      border-color: $brand;
   }
}
.dj-button-alt {
   padding: 15px 25px;
   border: 1px solid $text-color;
   border-radius: 50px;

   i {
      font-size: 21px;
      margin-left: 10px;
   }

   &:hover {
      color: $brand;
      border-color: $brand;

      i {
         color: $brand;
      }
   }

   @media (max-width: $sm) {
      display: block;
      text-align: center;
      font-size: $small;

      i {
         font-size: 16px;
      }
   }
}

/* --------------------------------------------------------------
* Margins section
-------------------------------------------------------------- */
.dj-block {
   margin: $margin 0;
}
.dj-padding {
   padding: $padding 0;
}

/* --------------------------------------------------------------
* JS
-------------------------------------------------------------- */
.start-scrolled {
   height: 100% !important;
   width: 100% !important;
   border-radius: 0 !important;
}
.intro-scrolled {
   border-radius: 0 !important;
}

/* --------------------------------------------------------------
* Modal Custom
-------------------------------------------------------------- */
.dj-modal {
   // * Animation styles
   .modal-dialog {
      position: fixed;
      bottom: 0;
      left: 0;
      right: 0;
      transform: translateY(100%);
      transition: transform 0.5s ease;
   }
   &.modal.fade .modal-backdrop {
      opacity: 0;
   }
   
   &.modal.fade .modal-dialog {
      transition: transform 0.5s ease;
   }

   // * Custom styles
   .modal-fullscreen {
      height: 92vh;
   }

   .modal-content {
      border-top-left-radius: $radius;
      border-top-right-radius: $radius;
      background-color: $bg-color;

      .modal-body {
         padding: 0;
      }
   }

   @media (max-width: $sm) {
      .modal-fullscreen {
         height: 92vh;
      }
   }
}

/* --------------------------------------------------------------
* Figure Image
-------------------------------------------------------------- */
.dj-figure {
   height: 100%;
   padding: clamp(20px, 4vw, 60px);
   background: $text-color;
   border-radius: $radius-big;
   margin-bottom: 0;

   @media (max-width: $md) {
      border-radius: $radius;
   }
}