.button {
   font-family: $title;
   text-decoration: underline !important;
   transition: all .2s ease-in-out;
   -webkit-transition: all .2s ease-in-out;
   -moz-transition: all .2s ease-in-out;
   -ms-transition: all .2s ease-in-out;
   -o-transition: all .2s ease-in-out;

   &:hover {
      color: $brand-hover;
   }

   @media screen and (max-width: 768px) {
      font-size: $h3-resp;
   }
}