@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 1.125rem;
}

html {
  font-size: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #222222;
  transition: 0.3s;
  cursor: pointer;
}

button {
  background: none;
  border: none;
}

@media (max-width: 768px) {
  br {
    display: none;
  }
}

.venturest {
  color: #9D81DC;
}

.aprisoft {
  color: #EB984E;
}

.puliglobal {
  color: #0F0147;
}

.dama-selek {
  color: #C79040;
}

.mjt {
  color: #70A075;
}

.diaz {
  color: #31426F;
}

.travel {
  color: #14505C;
}

.blog {
  color: #F14D78;
}

.minimal {
  color: #191919;
}

.dv-skroll.home {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
}
.dv-skroll.home section {
  display: flex;
}
@media screen and (max-width: 1079px) {
  .dv-skroll.home {
    position: absolute;
    flex-direction: column;
    transform: none !important;
  }
}

/* --------------------------------------------------------------
* Preloader
-------------------------------------------------------------- */
#dj-preloader {
  position: fixed;
  inset: 0;
  z-index: 9999;
  overflow: hidden;
  background: #FFF;
  transition: all 0.6s ease-out;
  width: 100%;
  height: 100vh;
}
#dj-preloader:after, #dj-preloader:before {
  content: "";
  position: absolute;
  border: 4px solid #EB984E;
  border-radius: 50%;
  animation: animate-preloader 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
#dj-preloader:after {
  animation-delay: -0.5s;
}

@keyframes animate-preloader {
  0% {
    width: 10px;
    height: 10px;
    top: calc(50% - 5px);
    left: calc(50% - 5px);
    opacity: 1;
  }
  100% {
    width: 72px;
    height: 72px;
    top: calc(50% - 36px);
    left: calc(50% - 36px);
    opacity: 0;
  }
}
/* --------------------------------------------------------------
* Icon
-------------------------------------------------------------- */
.dj-icon a {
  font-family: "Playfair Display", serif;
  font-weight: 900;
  font-size: 96px;
  letter-spacing: -10px;
}
.dj-icon a span {
  font-weight: 400;
  font-size: 96px;
}

/* --------------------------------------------------------------
* Button
-------------------------------------------------------------- */
.dj-btn {
  font-weight: 500;
  text-decoration: underline !important;
  transition: all 0.2s ease-in-out;
}
.dj-btn:hover {
  color: #E78733;
}
@media screen and (max-width: 1079px) {
  .dj-btn {
    font-size: 1.313rem;
  }
}

/* --------------------------------------------------------------
* JS
-------------------------------------------------------------- */
.start-scrolled {
  height: 100% !important;
  width: 100% !important;
  border-radius: 0 !important;
}

.intro-scrolled {
  border-radius: 0 !important;
}

/* --------------------------------------------------------------
* Page Header
-------------------------------------------------------------- */
.dj-header {
  margin-bottom: 150px;
}
.dj-header span {
  display: block;
}
.dj-header h1 {
  font-size: 4rem;
  font-weight: 600;
  margin-bottom: 50px;
}
.dj-header h1 span {
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
}
.dj-header p {
  font-size: 1.625rem;
}
@media (max-width: 414px) {
  .dj-header h1 {
    font-size: 47px;
  }
}

/* --------------------------------------------------------------
* Modal Custom
-------------------------------------------------------------- */
.dj-modal .modal-dialog {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translateY(100%);
  transition: transform 0.5s ease;
}
.dj-modal.modal.fade .modal-backdrop {
  opacity: 0;
}
.dj-modal.modal.fade .modal-dialog {
  transition: transform 0.5s ease;
}
.dj-modal .modal-fullscreen {
  height: 96vh;
}
.dj-modal .modal-content {
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background-color: #F8F8F8;
}
@media (max-width: 576px) {
  .dj-modal .modal-fullscreen {
    height: 92vh;
  }
}

header {
  width: 0;
}
@media (max-width: 1079px) {
  header {
    width: auto;
  }
}
header .dj-menu {
  /* --------------------------------------------------------------
  * Navbar
  -------------------------------------------------------------- */
  /* --------------------------------------------------------------
  * Button
  -------------------------------------------------------------- */
  /* --------------------------------------------------------------
  * Menu
  -------------------------------------------------------------- */
}
header .dj-menu .dj-menu-navbar {
  position: absolute;
  height: 100vh;
  width: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: transparent;
  transition: 0.3s all;
}
@media (max-width: 1079px) {
  header .dj-menu .dj-menu-navbar {
    position: relative;
    height: auto;
    border: 0;
    background-color: transparent;
    align-items: inherit;
    top: 120px;
    right: 80px;
    float: right;
  }
}
@media (max-width: 768px) {
  header .dj-menu .dj-menu-navbar {
    right: 50px;
  }
}
@media (max-width: 576px) {
  header .dj-menu .dj-menu-navbar {
    top: 90px;
    right: 20px;
  }
}
header .dj-menu .dj-menu-navbar.page {
  height: auto;
  width: 100%;
  padding: 0 40px;
}
header .dj-menu .dj-menu-navbar.page .dj-menu-toggle {
  position: absolute;
  right: 80px;
  top: 78px;
}
@media (max-width: 1079px) {
  header .dj-menu .dj-menu-navbar.page {
    top: auto;
    right: auto;
  }
}
@media (max-width: 768px) {
  header .dj-menu .dj-menu-navbar.page {
    padding: 0 25px;
    margin-top: 10px;
  }
  header .dj-menu .dj-menu-navbar.page .dj-menu-toggle {
    right: 60px;
    top: 80px;
  }
}
header .dj-menu-toggle {
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  z-index: 1100;
}
header .dj-menu-toggle .dj-menu-btn {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
  /* border: 3px solid #fff; */
  transition: all 0.5s ease-in-out;
  /* ANIMATION */
}
header .dj-menu-toggle .dj-menu-btn .dj-menu-burger {
  width: 30px;
  height: 2px;
  background: #222222;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .dj-menu-toggle .dj-menu-btn .dj-menu-burger::before, header .dj-menu-toggle .dj-menu-btn .dj-menu-burger::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  left: 0;
  background: #222222;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}
header .dj-menu-toggle .dj-menu-btn .dj-menu-burger::before {
  transform: translateY(-8px);
}
header .dj-menu-toggle .dj-menu-btn .dj-menu-burger::after {
  transform: translateY(8px);
}
header .dj-menu-toggle .dj-menu-btn.open .dj-menu-burger {
  background: transparent;
  box-shadow: none;
}
header .dj-menu-toggle .dj-menu-btn.open .dj-menu-burger::before {
  transform: rotate(45deg);
}
header .dj-menu-toggle .dj-menu-btn.open .dj-menu-burger::after {
  transform: rotate(-45deg);
}
header .dj-menu-box .dj-menu-backdrop {
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  z-index: 197;
  position: fixed;
  pointer-events: none;
  background: rgba(238, 238, 238, 0.7);
  transition: all 0.4s ease-in-out;
}
header .dj-menu-box .dj-menu-content {
  top: 0;
  left: 0;
  z-index: 1060;
  height: 100vh;
  display: block;
  position: fixed;
  overflow: auto;
  background: #FFF;
  transform: translate3d(-100%, 0px, 0px);
  transition: all 0.5s ease-in-out;
}
@media (min-width: 1079px) {
  header .dj-menu-box .dj-menu-content {
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-container {
  padding: 0 98px;
}
@media (max-width: 768px) {
  header .dj-menu-box .dj-menu-content .dj-menu-container {
    padding: 0;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-container .title {
  padding: 0 0 30px 0;
  color: rgba(0, 0, 0, 0.3);
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  line-height: 100%;
}
@media (max-width: 375px) {
  header .dj-menu-box .dj-menu-content .dj-menu-container .title {
    padding: 0 0 15px 0;
  }
}
@media (max-width: 320px) {
  header .dj-menu-box .dj-menu-content .dj-menu-container .title {
    padding: 0 0 5px 0;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-body {
  height: 87%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  header .dj-menu-box .dj-menu-content .dj-menu-body {
    height: 85%;
    width: 100vw;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-left {
  padding: 0 30px;
}
@media (max-width: 768px) {
  header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-left {
    display: none;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-left .dj-menu-social-item {
  position: relative;
  display: block;
  padding: 12px 0;
  font-size: 1.125rem;
  line-height: 120%;
  letter-spacing: 0.00464286em;
  font-family: "Poppins", sans-serif;
  transition: all 0.2s ease-in-out;
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-left .dj-menu-social-item:hover {
  color: #EB984E;
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right {
  padding: 0 100px 0 12px;
}
@media (max-width: 768px) {
  header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right {
    padding: 0 75px;
  }
}
@media (max-width: 375px) {
  header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right {
    padding: 0 24px;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right .dj-menu-nav-item {
  position: relative;
  display: block;
  padding: 20px 0;
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right .dj-menu-nav-item a {
  display: inline-block;
  position: relative;
  font-size: 3.625rem;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  letter-spacing: -0.05em;
  line-height: 100%;
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right .dj-menu-nav-item a::after {
  display: block;
  content: "";
  border-bottom: solid 3px #EB984E;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right .dj-menu-nav-item a:hover:after {
  transform: scaleX(1);
}
@media (max-width: 414px) {
  header .dj-menu-box .dj-menu-content .dj-menu-body .dj-menu-grid-right .dj-menu-nav-item a {
    font-size: 3rem;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-footer {
  padding: 0;
}
@media (max-width: 768px) {
  header .dj-menu-box .dj-menu-content .dj-menu-footer {
    padding: 0 75px;
  }
}
@media (max-width: 375px) {
  header .dj-menu-box .dj-menu-content .dj-menu-footer {
    padding: 0 15px;
  }
}
header .dj-menu-box .dj-menu-content .dj-menu-footer .title {
  padding-bottom: 12px !important;
}
header .dj-menu-box .dj-menu-content .dj-menu-footer .dj-menu-mail a {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 0;
  font-size: 1.125rem;
  font-family: "Poppins", sans-serif;
  line-height: 20px;
  letter-spacing: 0.00464286em;
}
header .dj-menu-box .dj-menu-content .dj-menu-footer .dj-menu-mail a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(0, 0, 0, 0.3);
  transition: all 0.2s ease-in-out;
}
header .dj-menu-box .dj-menu-content .dj-menu-footer .dj-menu-mail a:hover:before {
  background: #EB984E;
}
header .dj-menu-box .dj-menu-active.dj-menu-backdrop {
  opacity: 1;
  transition: all 0.4s ease-in-out;
}
header .dj-menu-box .dj-menu-active.dj-menu-content {
  transform: translate3d(0%, 0px, 0px);
  transition: all 0.5s ease-in-out;
}

.dj-footer {
  margin-top: 100px;
  position: relative;
  overflow: hidden;
  color: #222222;
  background: #FFF;
}
@media (min-width: 992px) {
  .dj-footer {
    height: 100%;
    min-height: 700px;
    max-height: 1100px;
  }
}
@media (min-width: 768px) {
  .dj-footer {
    margin-top: 150px !important;
  }
}
@media (min-width: 360px) {
  .dj-footer {
    margin-top: 120px;
  }
}
@media (max-width: 992px) {
  .dj-footer-content {
    padding: 90px 0;
  }
}
.dj-footer-content {
  justify-content: space-between;
  height: 100%;
  padding: 120px 0;
}
.dj-footer-header {
  display: flex;
  align-items: center;
  padding-bottom: 150px;
}
@media (max-width: 768px) {
  .dj-footer-header {
    padding-bottom: 80px;
  }
}
.dj-footer-header-title {
  font-size: 5.4vw;
  color: #222222;
}
@media (min-width: 1920px) {
  .dj-footer-header-title h2, .dj-footer-header-title a {
    font-size: 102px !important;
  }
}
@media (max-width: 1200px) {
  .dj-footer-header-title h2, .dj-footer-header-title a {
    font-size: 3.625rem;
  }
}
@media (max-width: 768px) {
  .dj-footer-header-title h2, .dj-footer-header-title a {
    font-size: 2.25rem !important;
  }
}
.dj-footer-header-title h2 {
  font-size: inherit;
  font-weight: 500;
  letter-spacing: inherit;
  line-height: inherit;
}
.dj-footer-header-title a {
  color: #222222;
  position: relative;
  display: inline-block;
  padding: 0 0 8px 0;
  font-size: inherit;
  transition: all 0.2s ease-in-out;
}
.dj-footer-header-title a:hover {
  color: #EB984E;
}
.dj-footer-header-title a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5px;
  background: #222222;
}
.dj-footer-body {
  align-items: center;
}
.dj-footer-body-left .dj-footer-mail a {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 0;
  color: #222222;
  font-size: 1.125rem;
  line-height: 20px;
  letter-spacing: 0.00464286em;
}
.dj-footer-body-left .dj-footer-mail a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: rgba(190, 190, 190, 0.3);
  transition: all 0.2s ease-in-out;
}
.dj-footer-body-left .dj-footer-mail a:hover::before {
  background: #EB984E;
}
.dj-footer-body-left .dj-footer-address {
  margin: 28px 0 0 0;
}
.dj-footer-body-left .dj-footer-address address {
  font-size: 0.875rem;
  font-style: normal;
  color: rgba(0, 0, 0, 0.6);
}
.dj-footer-body-left .dj-footer-privacy a::after {
  display: block;
  width: 197px;
  content: "";
  border-bottom: solid 1px #EB984E;
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.dj-footer-body-left .dj-footer-privacy a:hover::after {
  transform: scaleX(1);
}
.dj-footer-body-right .dj-footer-social {
  margin: -18px 0;
}
.dj-footer-body-right .dj-footer-social-item {
  width: calc(50% - 40px);
  height: auto;
  padding: 18px 0;
  margin: 15px;
  line-height: normal;
  position: relative;
  display: inline-block;
  font-size: 1.25rem;
  text-align: left;
}
.dj-footer-body-right .dj-footer-social-title a {
  color: rgba(0, 0, 0, 0.6);
  transition: all 0.2s ease-in-out;
}
.dj-footer-body-right .dj-footer-social-title a:hover {
  color: #000;
}
.dj-footer-body-right .dj-footer-social-svg {
  display: none !important;
  width: 1.5em;
  height: 1.5em;
  fill: currentColor;
  vertical-align: middle;
}
.dj-footer-body-right .dj-footer-social-svg a {
  color: rgba(0, 0, 0, 0.6);
}
@media (max-width: 992px) {
  .dj-footer-body-right .dj-footer-social-title {
    display: none !important;
  }
  .dj-footer-body-right .dj-footer-social-svg {
    display: block !important;
  }
}
@media (max-width: 768px) {
  .dj-footer-body-right .dj-footer-social {
    padding: 33px 0 0 0;
  }
  .dj-footer-body-right .dj-footer-social-item {
    width: 76px;
    height: 63px;
    line-height: 64px;
    letter-spacing: 0.00464286em;
    text-align: center;
  }
}
.dj-footer.home {
  margin-top: 0 !important;
}
@media (min-width: 1079px) {
  .dj-footer.home {
    display: none;
  }
}

/* --------------------------------------------------------------
* Start content
-------------------------------------------------------------- */
.dj-start {
  position: relative;
  min-width: 100%;
  height: 100vh;
  background-color: #FFF;
}
.dj-start .content {
  background-image: url("../img/team/david.landscape.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  height: 90%;
  width: 93%;
  margin: auto;
  border-radius: 12px;
  transition: 0.8s all;
}
@media (max-width: 1400px) {
  .dj-start .content {
    width: 90%;
  }
}
.dj-start .bar {
  padding: 0 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #FFF;
}
.dj-start .bar .dj-icon {
  position: absolute;
  left: 100px;
  top: 50px;
}
.dj-start .bar .dj-icon a {
  color: #FFF;
}
.dj-start .bar-scroll {
  font-size: 2.25rem;
  position: absolute;
  right: 100px;
  top: 85px;
}
.dj-start .bar-scroll span {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 2.25rem;
}
.dj-start .quote {
  position: absolute;
  top: 40%;
  left: 60%;
}
.dj-start .quote img {
  margin-bottom: 40px;
}
.dj-start .quote h1 {
  font-size: 3rem;
  font-weight: 500;
  color: #FFF;
}
@media (max-width: 1400px) {
  .dj-start .quote {
    left: 55%;
  }
}
@media (max-width: 1150px) {
  .dj-start .quote {
    left: 50%;
  }
}
@media (max-width: 1079px) {
  .dj-start {
    height: 100vh;
  }
  .dj-start .bar {
    color: #222222;
  }
  .dj-start .bar .dj-icon {
    position: relative;
    left: auto;
    top: auto;
  }
  .dj-start .bar .dj-icon a {
    color: #000;
  }
  .dj-start .bar-scroll {
    display: none;
  }
}
@media (max-width: 1030px) {
  .dj-start .quote {
    left: 40%;
  }
}
@media (max-width: 992px) {
  .dj-start .quote h1 {
    font-size: 2.25rem;
  }
}
@media (max-width: 768px) {
  .dj-start .bar {
    padding: 0 25px;
  }
  .dj-start .quote {
    top: auto;
    left: 80px;
    bottom: 90px;
    width: 70%;
  }
}
@media (max-width: 576px) {
  .dj-start {
    height: 90vh;
  }
  .dj-start .content {
    background-image: url("../img/team/david.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
  }
  .dj-start .content .bar .dj-icon {
    position: absolute;
    top: 10px;
    left: 25px;
  }
  .dj-start .content .quote {
    left: 50px;
  }
}

/* --------------------------------------------------------------
* Main About Me
-------------------------------------------------------------- */
.dj-intro {
  min-width: 50%;
  padding: 40px 2.2%;
  position: relative;
  background-color: #F8F8F8;
  transition: 0.8s all;
  border-right: 1px solid #e5e4e4;
}
@media (min-width: 1079px) {
  .dj-intro {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }
}
.dj-intro .image {
  text-align: right;
}
.dj-intro .image img {
  width: 240px;
  height: 340px;
  border-radius: 12px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.dj-intro .text {
  position: absolute;
  bottom: 40px;
}
.dj-intro .text h2 {
  font-family: "Poppins", sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  margin-bottom: 25px;
}
.dj-intro .text p {
  margin-bottom: 50px;
}
.dj-intro .text-links a {
  transition: 0.3s all !important;
}
@media (max-width: 576px) {
  .dj-intro .text-links a {
    display: block;
  }
  .dj-intro .text-links a:first-child {
    margin-bottom: 15px;
  }
}
@media (max-width: 1079px) {
  .dj-intro {
    padding: 50px 0;
    border-right: 0;
    border-bottom: 0.5px solid #e5e4e4;
  }
}
@media (max-width: 992px) {
  .dj-intro .subtitle {
    margin-bottom: 15px;
  }
  .dj-intro .image {
    text-align: left;
    margin-bottom: 25px;
  }
  .dj-intro .image img {
    width: 100%;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
  .dj-intro .text {
    margin-top: 50px;
    position: relative;
  }
  .dj-intro .text h2 {
    font-size: 1.875rem;
  }
}
/* --------------------------------------------------------------
* Main Projects
-------------------------------------------------------------- */
.dj-main-projects {
  height: 100vh;
  min-width: 120%;
  padding: 40px 3%;
  background-color: #F8F8F8;
}
.dj-main-projects .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.dj-main-projects .project {
  width: 32%;
}
.dj-main-projects .project-image {
  width: 100%;
  height: 83vh;
  border-radius: 12px;
  margin-bottom: 15px;
  -o-object-fit: cover;
     object-fit: cover;
}
.dj-main-projects .project-text h2 {
  font-weight: 600;
  font-size: 1.313rem;
}
@media (max-width: 1079px) {
  .dj-main-projects {
    min-width: 100%;
    padding: 45px 6.5%;
    height: auto;
  }
  .dj-main-projects .project {
    width: 48%;
    margin-bottom: 50px;
  }
  .dj-main-projects .project-image {
    height: auto;
  }
  .dj-main-projects .project-text h2 {
    font-size: 21px;
  }
}
@media (max-width: 992px) {
  .dj-main-projects {
    padding: 90px 10.6%;
  }
  .dj-main-projects .project {
    margin-bottom: 50px;
  }
  .dj-main-projects .project:nth-last-child(1) {
    margin-bottom: 0;
  }
}
@media (max-width: 768px) {
  .dj-main-projects {
    padding: 90px 5%;
  }
  .dj-main-projects .project {
    width: 100%;
  }
}
@media (max-width: 576px) {
  .dj-main-projects {
    padding: 75px 3%;
  }
}

/* --------------------------------------------------------------
* Main Footer
-------------------------------------------------------------- */
.dj-work {
  background: #F8F8F8;
  min-width: 50%;
  display: block;
  height: 100vh;
  text-align: center;
  position: relative;
}
.dj-work .content {
  background-color: #EB984E;
  height: 100vh;
  width: 100%;
  padding: 40px 3%;
  color: #FFF;
  display: flex;
  flex-direction: column;
}
@media (min-width: 1079px) {
  .dj-work .content {
    border-top-left-radius: 24px;
    border-bottom-left-radius: 24px;
  }
}
.dj-work .text {
  width: 80%;
  margin: auto;
}
.dj-work .text p {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
}
.dj-work .link {
  bottom: 20px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dj-work .link a {
  color: #FFF;
}
.dj-work .link a:hover {
  color: #000;
}
@media (max-width: 768px) {
  .dj-work .text p {
    font-size: 2.25rem;
  }
}
@media (max-width: 576px) {
  .dj-work .text {
    width: 90%;
  }
  .dj-work .text p {
    font-size: 1.875rem;
  }
}

#projects,
#project {
  background-color: #F8F8F8;
}

.main-projects {
  padding: 225px 0 60px 0;
}

.dj-projects .list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.dj-projects .dj-project {
  width: 45%;
  margin-bottom: 100px;
}
.dj-projects .dj-project-img {
  display: block;
}
.dj-projects .dj-project-img img {
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.dj-projects .dj-project-text {
  margin: 38px auto 0 auto;
  max-width: 370px;
}
.dj-projects .dj-project-text-header {
  display: inline !important;
}
.dj-projects .dj-project-text-header h3 {
  display: inline !important;
  font-size: 1.25rem;
  font-weight: 600;
}
.dj-projects .dj-project-text-body {
  display: inline !important;
  font-size: 1.25rem;
  line-height: 150%;
}
.dj-projects .dj-project-text-body p {
  display: inline;
}
.dj-projects .dj-project-text-body::before {
  content: " — ";
  font-weight: 500;
}
@media (min-width: 768px) {
  .dj-projects .dj-project:nth-child(2n) {
    margin-top: -120px;
  }
}
@media (max-width: 1079px) {
  .dj-projects .dj-project-img img {
    height: 450px;
  }
}
@media (max-width: 768px) {
  .dj-projects .dj-project {
    width: 100%;
  }
  .dj-projects .dj-project-img img {
    height: 700px;
  }
}
@media (max-width: 576px) {
  .dj-projects .dj-project-img img {
    height: 520px;
  }
}

.project-main-header {
  padding-bottom: 175px;
}
@media (max-width: 576px) {
  .project-main-header {
    padding-bottom: 125px;
  }
}

.project-main {
  padding: 50px 0;
}
.project-main .project-header {
  text-align: center;
  margin-bottom: 100px;
}
.project-main .project-header h1 {
  font-size: clamp(42px, -6px + 9vw, 180px);
  font-weight: 700;
  text-transform: capitalize;
  margin-bottom: 50px;
}
.project-main .project-header h1 span {
  font-size: clamp(42px, -6px + 9vw, 180px);
}
.project-main .project-header h3 {
  font-size: clamp(1.125rem, -18px + 3.5vw, 1.125rem);
  font-weight: 400;
}
.project-main .project-header-web {
  display: flex;
  align-items: center;
  justify-content: center;
}
.project-main .project-header-web i {
  font-size: 32px;
  margin-right: 10px;
}
.project-main .project-header-web a {
  position: relative;
  display: inline-block;
  padding: 0 0 5px 0;
  color: #222222;
  font-size: 1.313rem;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0.00464286em;
}
.project-main .project-header-web a::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1.5px;
  background: rgba(34, 34, 34, 0.3);
  transition: all 0.2s ease-in-out;
}
.project-main .project-header-web a:hover::before {
  background: #222222;
}
.project-main .project-gallery img {
  width: 100%;
  border-radius: 24px;
}
@media (max-width: 768px) {
  .project-main .project-gallery img {
    border-radius: 12px;
  }
}/*# sourceMappingURL=style.css.map */