// * =============== GOOGLE FONTS =============== * //
// * Title
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;0,900;1,400&display=swap');
// * Text
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

// * Colors
$primary:    #EB984E;
$primary-alt:#EAB07D;
$secondary:  #F0F0F0;
$text-color: #000000;
$dark-color: #202020;
$light-color:#FFFFFF;

$border: .5px solid #000;

// * Text sizes
$title-size:   9.313rem; // * 149px
$h1-size:      3.625rem; // * 58px
$h2-size:      2.25rem;  // * 36px
$h3-size:      1.313rem; // * 21px
$normal-size:  1.125rem; // * 18px
$small-size:   .875rem;  // * 14px

// * Text sizes responsive
$h1-size-alt:      3rem;     // * 48px
$h2-size-alt:      1.875rem; // * 30px
$h3-size-alt:      1rem;     // * 18px
$normal-size-alt:  .875rem;  // * 14px
$small-size-alt:   .75rem;   // * 12px

// * Fonts
$title-font: 'Playfair Display', serif;
$body-font: 'Poppins', sans-serif;