// * =============== GOOGLE FONTS =============== * //
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;900&display=swap');       // * Icon
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;900&display=swap');    // * Tittle
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap'); // * Text

// * ---- COLORS ---- * //
// * GENERAL
$white: #FFF;
$black: #000;

// * FONTS
$title-color: #222222;
$text-color:  #222222;
$text-link: rgba(0, 0, 0, 0.6);

// * BRAN
$brand: #EB984E;
$brand-hover: #E78733;
$brand-light: #ECDACB;
$brand-disabled:#E2BE9F;

// * PROJECTS
$venturest: #9D81DC;
$bg-venturest: #E1D5F6;

$aprisoft: #EB984E;
$bg-aprisoft: #E7CFBA;

$mjt: #70A075;
$bg-mjt: #E0F1E7;

$diaz: #31426F;
$bg-diaz: #8192BF;

$travel: #14505C;
$bg-travel: #8AB6BC;

$minimal: #CDC8C6;
$bg-minimal: #E1DBD8;

$blog: #F14D78;
$bg-blog: #FFF4F7;

$puliglobal: #0F0147;
$bg-puliglobal: #E9F0FF;

$dama-selek: #C79040;
$bg-dama-selek: #E2D6C5;

// * BACKGROUND
$bg-color: #F8F8F8;
$bg-hover: rgba(157, 129, 220, 0.2);

// * OTHER
$alert-color: #ED4C78;

// * BORDER
$border-color: #e5e4e4;
$border-dashboard: #F0EFF6;
$border-input: #A29DAC;

// * TEXT SIZES
// * Titles
$title:  4rem;     // * 64px
$h1:     3.625rem; // * 58px
$h2:     2.25rem;  // * 36px
$h3:     1.313rem; // * 21px

// * Texts
$big-text: 1.625rem; // * 26px
$text: 1.125rem; // * 18px
$small: .875rem; // * 14px
$extra-small: 11px; // * 11px

// * TEXT SIZE RESPONSIVE
// * Titles
$h1-resp: 3rem;     // * 48px
$h2-resp: 1.875rem; // * 30px
$h3-resp: 1rem;     // * 18px

// * Texts
$text-resp:  .875rem; // * 14px
$small-resp: .75rem;  // * 12px
$extra-small-resp: 9px; // * 9px

// * Other sizes
// * Other sizes
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$desktop: 1079px;
$radius: 12px;
$radius-big: 24px;
$radius-small: 8px;
$border: .5px solid $black;
$margin: clamp(60px, 3vw, 120px);
$padding: clamp(60px, 3vw, 120px);
$dots: linear-gradient(to right, $text-color 0 10%, rgba(255, 255, 255, 0) 10%);

// * Fonts
$logo-font:  'Playfair Display', serif;
$title-font: 'Poppins', sans-serif;
$body-font:  'Montserrat', sans-serif;