.about-me {
   padding: 200px 0 20px 0;

   .dj-header {
      text-align: left;

      h1 {
         font-size: clamp(42px, -6px + 9vw, 104px);
         text-transform: none;

         span {
            font-size: clamp(42px, -6px + 9vw, 104px);
            color: $brand;
         }
      }

      &-bio {
         &-img {
            img {
               width: 100%;
               height: 400px;
               object-fit: cover;
               border-radius: $radius-big;

               @media (max-width: $lg) {
                  margin-bottom: 40px;
               }
            }

            .dj-button {
               &.mobile {
                  display: none;
               }

               @media (max-width: $lg) {
                  &.mobile {
                     display: flex;
                     width: 30%;
                  }
               }
               @media (max-width: $md) {
                  &.mobile {
                     width: 45%;
                  }
               }
               @media (max-width: $sm) {
                  &.mobile {
                     width: 100%;
                  }
               }
            }
         }
   
         &-text {
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-start;
            display: flex;
   
            p {
               font-size: $h3;

               @media (max-width: $md) {
                  font-size: $text;
               }
            }
   
            .dj-button {
               width: 50%;
               padding: 8px;

               @media (max-width: $xl) {
                  width: 65%;
               }

               @media (max-width: $lg) {
                  &.desktop {
                     display: none;
                  }
               }
            }
         }
      }
   }
}

.dj-experience {
   &-title {
      position: sticky;
      top: 20px;
      z-index: 1;
   }

   .dj-title {
      font-size: clamp(36px, 3.4vw, 48px);

      &-text {
         display: flex;
         align-items: center;
         justify-content: end;
         margin-right: 38px;

         i {
            margin-left: 5px;
         }

         @media (max-width: $xxl) {
            margin-right: 25px;
         }
         @media (max-width: $xl) {
            margin-right: 15px;

            p {
               font-size: 16px;
            }
         }
         @media (max-width: $desktop) {
            justify-content: start;
         }
         @media (max-width: 478px) {
            display: block;
         }
      }
   }

   &-item {
      @include dots;
      padding-bottom: 30px;
      margin-bottom: 30px;

      &-button {
         justify-content: space-between;
         align-items: flex-end;
         display: flex;  
         width: 100%;
         text-align: left;
      }

      &-title {
         font-size: $h3;
         font-weight: 600;
         margin-bottom: 10px;
      }

      &-date {
         color: $text-link;
      }

      &-body {
         padding-top: 40px;
      }

      &:last-child {
         margin-bottom: 0;
      }

      @media (max-width: 444px) {
         &-button {
            display: block;
         }

         &-date {
            margin-top: 10px;
         }
      }
   }
}

.dj-training {
   &-header {
      margin-bottom: 90px;

      .dj-heading {
         margin-left: 30px;
         margin-bottom: 0;

         h3 {
            font-size: clamp(36px, 3.4vw, 48px);
            margin-bottom: 75px;
         }

         @media (max-width: $md) {
            margin-left: 0;
            margin-bottom: 40px;

            h3 {
               margin-bottom: 50px;
            }

            a {
               font-size: $text;
               
               i {
                  display: none;
               }
            }
         }
      }
   }

   &-image {
      width: 100%;
      height: 325px;
      object-fit: cover;
      object-position: 50% 70%;
      border-radius: $radius;

      @media (max-width: $lg) {
         height: 250px;
      }
      @media (max-width: $md) {
         height: 275px;
         margin-bottom: 40px;
      }
   }

   &-list {
      grid-row-gap: 24px;
      flex-direction: column;
      display: flex;

      .dj-training-item {
         @include dots;
         justify-content: space-between;
         align-items: center;
         padding-bottom: 24px;
         display: flex;
         margin-top: 10px;

         h4 {
            font-size: $h3;
         }

         a {
            background-color: $white;
            border-radius: 50%;
            padding: 6px 10px 4px 10px;

            i {
               font-size: 21px;
            }

            &:hover {
               opacity: .6;
            }
         }

         @media (max-width: $sm) {
            h4 {
               font-size: $text;
            }
            p {
               font-size: $small;
            }
         }
      }
   }
}