.dj-contact {
   padding: 200px 0 20px 0;

   .dj-header {
      h1 {
         font-size: clamp(42px, -6px + 9vw, 104px);
         text-transform: none;

         span {
            font-size: clamp(42px, -6px + 9vw, 104px);
            color: $brand;
         }
      }

      p {
         font-size: clamp($text, 2vw, $big-text);
      }
   }

   .dj-form {
      &-contact {
         max-width: $lg;
         margin: auto;

         .dj-checkbox {
            margin: 0 0 30px 0;

            &-buttons {
               display: flex;
               flex-wrap: wrap;
               justify-content: center;

               input {
                  position: absolute;
                  padding: 0;
                  margin: 0;
                  visibility: hidden;

                  &:checked + .dj-checkbox-box {
                     padding: 20px 30px;
                     color: $white;
                     background-color: $black;
                     border-radius: 40px;
                     border-color: $black;
                  }
               }

               .dj-checkbox-box {
                  display: block;
                  padding: 20px 35px;
                  margin: auto;
                  margin-bottom: 20px;
                  text-align: center;
                  cursor: pointer;
                  border: 1px solid $border-color;
                  border-radius: 40px;
                  transition: all .3s ease-in-out;

                  @media (max-width: $sm) {
                     width: 100%;
                  }
               }
            }
         }
      }
   }
}