.dv-skroll {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;

   section {
      display: flex;
      background: $light-color;

      &.start-v1 {
         height: 100vh;
         min-width: 100%;

         .bar {
            position: fixed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $text-color;

            &__icon {
               span {
                  font-family: $title-font;
                  font-weight: 900;
                  font-size: 96px;
               }
            }
         }

         .elements {
            position: relative;
            padding-top: 40px;
            height: 100vh;

            &__text {
               h1 {
                  font-size: $h1-size;
                  font-weight: 400;
                  position: absolute;
                  width: 50%;
                  bottom: 10px;
               }
            }

            &__image {
               text-align: right;

               img {
                  width: 80%;
               }
            }
         }
      }
      &.start-v2 {
         @include cover('../img/team/david.landscape.jpg');
         position: relative;
         min-width: 100%;
         
         .bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light-color;

            &__icon {
               span {
                  font-family: $title-font;
                  font-weight: 900;
                  font-size: 96px;
               }
            }

            &__scroll {
               font-size: $h2-size;
            }
         }

         .quote {
            position: absolute;
            top: 35%;
            left: 60%;

            img {
               margin-bottom: 40px;
            }

            p {
               font-size: $h2-size;
               font-weight: 400;
               color: $light-color;
            }
         }
      }

      &.intro {
         min-width: 100%;
      }

      &.projects {
         background: #d0eaff;
         min-width: 100%;
      }
      
      &.work {
         background: #fce8f4;
         min-width: 100%;
      }
   }
}

// * Mediaqueries
@media screen and (max-width: 1400px) {
   .dv-skroll {
      section {
         &.start-v1 {
            .elements {
               &__text {
                  h1 {
                     width: 60%;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1200px) {
   .dv-skroll {
      section {
         &.start-v1 {
            .elements {
               &__text {
                  h1 {
                     font-size: $h1-size-alt;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 1080px) {
   .dv-skroll {
      section {
         position: absolute;
         flex-direction: column;
         transform: none !important;

         &.start-v1 {
            height: auto;

            .elements {
               padding-top: 0;
               height: auto;

               .bar {
                  position: relative;
               }
            }
         }
         &.start-v2 {
            .bar {
               &__scroll {
                  display: none;
               }
            }
         }
      }
   }
}

@media screen and (max-width: 768px) {
   .dv-skroll {
      section {
         &.start-v1 {
            .bar {
               &__icon {
                  span {
                     font-size: 76px;
                  }
               }
            }

            .elements {
               &__text {
                  h1 {
                     width: auto;
                     position: relative;
                  }
               }
   
               &__image {
                  text-align: center;
                  margin-bottom: 30px;
   
                  img {
                     width: 100%;
                  }
               }
            }
         }
      }
   }
}

@media screen and (max-width: 576px) {
   .dv-skroll {
      section {
         &.start-v1 {
            .elements {
               &__text {
                  h1 {
                     font-size: $h2-size;
                  }
               }
            }
         }
         &.start-v2 {
            .quote {
               position: relative;
               top: 30%;
               left: 0;
            }
         }
      }
   }
}

@media screen and (max-width: 414px) {
   .dv-skroll {
      section {
         &.start-v1 {
            .elements {
               padding-top: 0;

               &__text {
                  h1 {
                     font-size: $h2-size-alt;
                  }
               }
            }
         }
         &.start-v2 {
            @include cover('../img/team/david.jpg');
         }
      }
   }
}