.dj-start {
   position: relative;
   min-width: 100%; // * Ancho de la sección
   height: 100vh;
   background-color: $white;

   .content {
      @include cover('../img/team/david.landscape.jpg');
      height: 90%;
      width: 93%;
      margin: auto;
      border-radius: $radius;
      transition: .8s all;

      @media (max-width: $xxl) {
         width: 90%;
      }
   }
   
   .bar {
      padding: 0 40px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      color: $white;

      .dj-icon {
         position: absolute;
         left: 100px;
         top: 50px;
         z-index: 205;
         
         a {
            color: $white;
         }
      }

      &-scroll {
         font-size: $h2;
         position: absolute;
         right: 100px;
         top: 85px;

         span {
            font-family: $title-font;
            font-weight: 500;
            font-size: $h2;
         }
      }
   }

   .quote {
      position: absolute;
      top: 40%;
      left: 60%;

      img {
         margin-bottom: 40px;
      }

      h1 {
         font-size: $h2;
         font-weight: 500;
         color: $white;
      }
   }

   @media (max-width: $desktop) {
      height: 100vh;

      .bar {
         color: $text-color;

         .dj-icon {
            position: relative;
            left: auto;
            top: auto;

            a {
               color: $black;
            }
         }
         
         &-scroll {
            display: none;
         }
      }

      .quote {
         left: 50%
      }
   }

   @media (max-width: $md) {
      .bar {
         padding: 0 25px;
      }

      .quote {
         top: auto;
         left: 80px;
         bottom: 90px;
         width: 70%;
      }
   }

   @media (max-width: $sm) {
      .content {
         @include cover('../img/team/david.jpg');

         .bar {
            .dj-icon {
               position: absolute;
               top: 10px;
               left: 25px;
            }
         }

         .quote {
            left: 50px;
         }
      }
   }
}

.dj-intro {
   min-width: 50%; // * Ancho de la sección
   padding: 40px 2.2%;
   position: relative;
   background-color: $bg-color;
   transition: .8s all;
   border-right: 1px solid $border-color;

   @media (min-width: $desktop) {
      border-top-left-radius: $radius-big;
      border-bottom-left-radius: $radius-big;
   }
   
   .image {
      text-align: right;
      
      img {
         width: 240px;
         height: 340px;
         border-radius: $radius;
         object-fit: cover;
         object-position: top;
      }
   }

   .text {
      position: absolute;
      max-width: 455px;
      bottom: 40px;

      h2 {
         font-family: $title-font;
         font-size: $h2;
         font-weight: 600;
         margin-bottom: 25px;
      }

      p {
         margin-bottom: 50px;
      }
   }

   @media (max-width: $desktop) {
      padding: 50px 0;
      border-right: 0;
      border-bottom: .5px solid $border-color;
   }

   @media (max-width: $lg) {
      .subtitle {
         margin-bottom: 15px;
      }

      .image {
         text-align: left;
         margin-bottom: 25px;
         
         img {
            width: 100%;
            height: 400px;
            object-fit: cover;
            object-position: top;
         }
      }

      .text {
         margin-top: 50px;
         position: relative;

         h2 {
            font-size: $h2-resp;
         }
      }
   }

   @media (max-width: $sm) {
      
   }
}

.dj-main-projects {
   height: 100vh;
   min-width: 120%;
   padding: 40px 3%;
   background-color: $bg-color;

   .list {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
   }

   .project {
      width: 32%;
      
      &-image {
         width: 100%;
         height: 82vh;
         border-radius: $radius;
         margin-bottom: 15px;
         object-fit: cover;
      }

      &-text {
         h2 {
            font-weight: 500;
            font-size: $h3;
         }
      }
   }

   @media (max-width: $desktop) {
      min-width: 100%;
      padding: 45px 6.5%;
      height: auto;

      .project {
         width: 48%;
         margin-bottom: 50px;

         &-image {
            height: auto;
         }

         &-text {
            h2 {
               font-size: $big-text;
            }
         }
      }
   }

   @media (max-width: $lg) {
      padding: 90px 10.6%;
      
      .project {
         margin-bottom: 50px;

         &:nth-last-child(1) {
            margin-bottom: 0;
         }
      }
   }

   @media (max-width: $md) {
      padding: 90px 5%;

      .project {
         width: 100%;
      }
   }

   @media (max-width: $sm) {
      padding: 75px 3%;
   }
}

.dj-work {
   background: $bg-color;
   min-width: 50%;
   display: block;
   height: 100vh;
   text-align: center;
   position: relative;

   .content {
      background-color: $brand;
      height: 100vh;
      width: 100%;
      padding: 40px 3%;
      color: $white;
      
      @media (min-width: $desktop) {
         border-top-left-radius: $radius-big;
         border-bottom-left-radius: $radius-big;
      }
   }

   .text {
      width: 65%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

      p {
         font-family: $title-font;
         font-size: 40px;
      }
   }

   .link {
      bottom: 20px;
      position: absolute;
      text-align: center;
      left: 50%;
      transform: translate(-50%,-50%);

      a {
         color: $white;

         &:hover {
            color: $black;
         }
      }
   }

   @media (max-width: $md) {
      .text {
         p {
            font-size: $h2;
         }
      }
   }

   @media (max-width: $sm) {
      .text {
         width: 90%;
      }
   }

   @media (max-width: 414px) {
      .text {
         p {
            font-size: $h2-resp;
         }
      }
   }
}