.dv-skroll {
   position: fixed;
   top: 0;
   left: 0;
   display: flex;

   section {
      min-width: 100%;
      height: auto;
      display: flex;
      height: 100vh;
      background: $light-color;

      &.start-v2 {
         @include cover('../img/team/david.landscape.jpg');
         position: relative;
         
         .bar {
            display: flex;
            align-items: center;
            justify-content: space-between;
            color: $light-color;

            .icon {
               span {
                  font-family: $title-font;
                  font-weight: 900;
                  font-size: 96px;
               }
            }
            .scroll {
               font-size: $h2-size;

               @media screen and (max-width: 991px) {
                  display: none;
               }
            }
         }

         .quote {
            top: 70px;
            position: absolute;
            top: 35%;
            left: 60%;

            img {
               margin-bottom: 40px;
            }

            p {
               font-size: $h2-size;
               font-weight: 400;
               color: $light-color;
            }
         }

         @media screen and (max-width: 1080px) {
            .bar {
               .scroll {
                  display: none;
               }
            }
         }

         @media screen and (max-width: 768px) {
            .quote {
               position: relative;
               top: 0;
               left: 0;
            }
         }

         @media screen and (max-width: 420px) {
            @include cover('../img/team/david.jpg');
         }
      }
      &.intro {
         min-width: 100%;
      }
      &.projects {
         background: #d0eaff;
         min-width: 100%;
      }
      &.work {
         background: #fce8f4;
         min-width: 100%;
      }
   }

   @media screen and (max-width: 1080px) {
      position: absolute;
      flex-direction: column;
      height: auto;
      transform: none !important;
   }
}