.project-header {
   padding-bottom: 175px;
}
.project-main {
   padding: 50px 0;

   &-header {
      text-align: center;
      margin-bottom: 100px;

      h1 {
         font-size: clamp(42px, -6px + 9vw, 180px);
         font-weight: 700;
         text-transform: capitalize;
         margin-bottom: 50px;

         span {
            font-size: clamp(42px, -6px + 9vw, 180px);

            &.venturest { color: $venturest; }
            &.aprisoft { color: $aprisoft; }
            &.puliglobal { color: $puliglobal; }
            &.dama-selek { color: $dama-selek; }
            &.mjt { color: $mjt; }
            &.diaz { color: $diaz; }
            &.travel { color: $travel; }
            &.blog { color: $blog; }
            &.minimal { color: $minimal; }
         }
      }

      h3 {
         font-size: clamp($text, -18px + 3.5vw, $big-text);
         font-weight: 600;
      }

      a {
         position: relative;
         display: inline-block;
         padding: 0 0 5px 0;
         color: $text-color;
         font-weight: 600;
         line-height: 20px;
         letter-spacing: .00464286em;

         &::before {
            content: "";
            display: block;
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            height: 1.5px;
            background: rgba(34, 34, 34, 0.3);
            transition: all .2s ease-in-out;
         }

         &:hover {
            &::before {
               background: $text-color;
            }
         }
      }
   }

   &-gallery {
      img {
         width: 100%;
         border-radius: $radius-big;
      }
   }
}